<!DOCTYPE html>
<html>
  <head>
    <title>Bit Price Display</title>
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'app-bundle' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
